.header {
	padding: 25px 0;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo > img {
	width: 150px;
}
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.875rem 0;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	gap: 35px;
}

.nav-list__link {
	color: black;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.25rem;
	display: inline-block;
	padding: 5px 10px;

	transition: transform 0.4s ease;
}

.nav-list__link:hover {
	color: #fff;
	background-color: deepskyblue;
	transform: scale(1.1);
	border-radius: 180px;
}

.auth_menu {
	display: flex;
	justify-content: space-between;
}
